@model CreditTaskMVC.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_date_added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_date_added)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
