@model IEnumerable<CreditTaskMVC.Models.Reseller>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reseller_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reseller_contact_person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reseller_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reseller_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reseller_phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reseller_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reseller_contact_person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reseller_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reseller_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reseller_phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.reseller_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.reseller_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.reseller_id })
        </td>
    </tr>
}

</table>
